.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;

    .tableHeader {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .tableHeaderButtons {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    .tableContent {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .tbody {
        width: 100%;

        .tr {
          display: flex;
          justify-content: space-between;

          .title {
            width: 70%;

            .text {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .td {
            width: 8%;
            display: flex;
            padding: 10px;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            border-radius: 2px;
            background: var(---, #fff);

            .blueText {
              color: var(---40, #13a3b9);
            }

            .blackText {
              color: var(--grey-900, #272a33);
            }
          }
        }
      }
    }
  }

  .button {
    width: 20px;
    height: 20px;
    padding: 5px 10px;
  }

  .activeButton {
    width: 20px;
    height: 20px;
    padding: 5px 10px;
    color: var(---, #fff);
    border-radius: 5px;
    background: var(---40, #13a3b9);
    font-size: 16px;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid var(--grey-100, #ededf4);
    width: 50%;
    margin: 0 auto;
    height: 50px;
    .button {
      width: 40px;
      height: 40px;
      padding: 10px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(---1, #676a71);
      font-size: 16px;
    }

    .activeButton {
      width: 30px;
      height: 20px;
      padding: 10px 5px;
      border-radius: 5px;
      background: var(---40, #13a3b9);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
    }
  }
}
