.body2 {
  font-size: 14px;
}

.h1 {
  color: var(--grey-900, #272a33);
  font-size: 48px;
  font-weight: 700;
}

.h2 {
  color: var(--grey-900, #272a33);
  font-size: 36px;
  font-weight: 700;
}

.h3 {
  color: var(--grey-900, #272a33);
  font-size: 24px;
  font-weight: 600;
}

.h4 {
  color: var(--grey-900, #272a33);
  font-size: 20px;
  font-weight: 700;
}

.s1 {
  color: var(--grey-300, #6e7686);
  font-size: 18px;
  font-weight: 600;
}

.b1 {
  color: var(--grey-500, #a8aaae);
}
